// vim:fileencoding=utf-8:foldmethod=marker

#define BASE 0
#define WIND 1
#define SYMB 2
#define NAVI 3
#define NUMB 4
#define FUNC 5

// {{{ Base Layer

#define _________________BASE_5_L1_________________ &lt NUMB Q   &kp W        &kp E       &kp R        &kp T
#define _________________BASE_5_L2_________________ &kp A        &kp S        &kp D       &kp F        &kp G
#define _________________BASE_5_L3_________________ &mt LSHFT Z  &ht LALT X   &ht LGUI C  &kp V        &kp B

#define _________________BASE_5_R1_________________ &kp Y        &kp U        &kp I           &kp O         &lt NUMB P
#define _________________BASE_5_R2_________________ &kp H        &kp J        &kp K           &kp L         &kp RET
#define _________________BASE_5_R3_________________ &kp N        &kp M        &ht LGUI COMMA  &ht LALT DOT  &mt LSHFT FSLH

#define _________________BASE_6_L1_________________ &kp TAB       _________________BASE_5_L1_________________
#define _________________BASE_6_L2_________________ &mt LCTRL ESC _________________BASE_5_L2_________________
#define _________________BASE_6_L3_________________ &kp LSHFT     _________________BASE_5_L3_________________

#define _________________BASE_6_R1_________________ _________________BASE_5_R1_________________ &kp BSPC
#define _________________BASE_6_R2_________________ _________________BASE_5_R2_________________ &kp SQT
#define _________________BASE_6_R3_________________ _________________BASE_5_R3_________________ &kp SEMI

#define ____BASE_2_LT____                           &kp LGUI   &lt NAVI SPACE
#define ____BASE_2_RT____                           &mo SYMB   &kp LC(LA(LG(LSHFT)))

#define __________BASE_3_LT___________              &kp LALT ____BASE_2_LT____
#define __________BASE_3_RT___________              ____BASE_2_RT____ &kp LCTRL

// }}}

// {{{ Windows Layer

#define _________________WIND_5_L1_________________ &kp Q     &kp W    &kp E     &kp R     &kp T
#define _________________WIND_5_L2_________________ &kp A     &kp S    &kp D     &kp F     &kp G
#define _________________WIND_5_L3_________________ &kp Z     &kp X    &kp C     &kp V     &kp B

#define _________________WIND_5_R1_________________ &kp Y     &kp U    &kp I     &kp O     &kp P
#define _________________WIND_5_R2_________________ &kp H     &kp J    &kp K     &kp L     &kp RET
#define _________________WIND_5_R3_________________ &kp N     &kp M    &kp COMMA &kp DOT   &kp FSLH

#define _________________WIND_6_L1_________________ &trans    _________________WIND_5_L1_________________
#define _________________WIND_6_L2_________________ &kp LSHFT _________________WIND_5_L2_________________
#define _________________WIND_6_L3_________________ &kp LCTRL _________________WIND_5_L3_________________

#define _________________WIND_6_R1_________________ _________________WIND_5_R1_________________ &trans
#define _________________WIND_6_R2_________________ _________________WIND_5_R2_________________ &trans
#define _________________WIND_6_R3_________________ _________________WIND_5_R3_________________ &trans

#define ____WIND_2_LT____                           &kp SPACE &mt LCTRL SPACE
#define ____WIND_2_RT____                           &trans          &mo NAVI

#define __________WIND_3_LT___________              &trans            ____WIND_2_LT____
#define __________WIND_3_RT___________              ____WIND_2_RT____ &kp LGUI

// }}}

// {{{ Symbols Layer

#define KC_TAG &kp LA(N3)

#define _________________SYMB_5_L1_________________ &kp EXCL  &kp AT    &kp LBRC  &kp DLLR  &kp PRCNT
#define _________________SYMB_5_L2_________________ &kp GRAVE &kp LBKT  &kp LPAR  &kp EQUAL &kp COLON
#define _________________SYMB_5_L3_________________ &kp TILDE &kp DQT   &kp PLUS  &kp MINUS &kp UNDER

#define _________________SYMB_5_R1_________________ &kp CARET &kp AMPS  &kp RBRC  &kp GT    &kp BSLH
#define _________________SYMB_5_R2_________________ &kp STAR  &kp PIPE  &kp RPAR  &kp RBKT  &kp QMARK
#define _________________SYMB_5_R3_________________ &kp HASH  KC_TAG    &kp SEMI  &trans    &trans

#define _________________SYMB_6_L1_________________ &trans _________________SYMB_5_L1_________________
#define _________________SYMB_6_L2_________________ &trans _________________SYMB_5_L2_________________
#define _________________SYMB_6_L3_________________ &trans _________________SYMB_5_L3_________________

#define _________________SYMB_6_R1_________________ _________________SYMB_5_R1_________________ &trans
#define _________________SYMB_6_R2_________________ _________________SYMB_5_R2_________________ &trans
#define _________________SYMB_6_R3_________________ _________________SYMB_5_R3_________________ &trans

#define ____SYMB_2_LT____                           &trans &trans
#define ____SYMB_2_RT____                           &trans &trans

#define __________SYMB_3_LT___________              &trans ____SYMB_2_LT____
#define __________SYMB_3_RT___________              ____SYMB_2_RT____ &trans

// }}}

// {{{ Navigation Layer

#define TAB_BACK &kp LS(TAB)
#define GLBR     &kp LG(LBKT)
#define GRBR     &kp LG(RBKT)
#define SGLBR    &kp LS(LG(LBKT))
#define SGRBR    &kp LS(LG(RBKT))


#define _________________NAVI_5_L1_________________ &kp Q       &sw_app    &sw_win     TAB_BACK     &trans
#define _________________NAVI_5_L2_________________ &sk LCTRL   &sk LALT   &sk LGUI    &sk LSHFT    &trans
#define _________________NAVI_5_L3_________________ &kp LG(Z)   &kp LG(X)  &kp LG(C)   &kp LG(V)    &kp LG(ESC)

#define _________________NAVI_5_R1_________________ &sw_lang    &kp DEL    &kp UP      &kp BSPC     &trans
#define _________________NAVI_5_R2_________________ &trans      &kp LEFT   &kp DOWN    &kp RIGHT    &trans
#define _________________NAVI_5_R3_________________ &caps_word  SGLBR      SGRBR       GLBR         GRBR

#define _________________NAVI_6_L1_________________ &trans _________________NAVI_5_L1_________________
#define _________________NAVI_6_L2_________________ &trans _________________NAVI_5_L2_________________
#define _________________NAVI_6_L3_________________ &trans _________________NAVI_5_L3_________________

#define _________________NAVI_6_R1_________________ _________________NAVI_5_R1_________________ &trans
#define _________________NAVI_6_R2_________________ _________________NAVI_5_R2_________________ &trans
#define _________________NAVI_6_R3_________________ _________________NAVI_5_R3_________________ &trans

#define ____NAVI_2_LT____                           &trans &trans
#define ____NAVI_2_RT____                           &trans &trans

#define __________NAVI_3_LT___________              &trans ____NAVI_2_LT____
#define __________NAVI_3_RT___________              ____NAVI_2_RT____ &trans

// }}}

// {{{ Numeric Layer

#define _________________NUMB_5_L1_________________ &trans         &kp F9       &kp F8       &kp F7        &kp F12
#define _________________NUMB_5_L2_________________ &lhm LCTRL F13 &lhm LALT F4 &lhm LGUI F5 &lhm LSHFT F6 &kp F11
#define _________________NUMB_5_L3_________________ &trans         &kp F3       &kp F2       &kp F1        &kp F10

#define _________________NUMB_5_R1_________________ &trans        &kp N7        &kp N8       &kp N9        &trans
#define _________________NUMB_5_R2_________________ &trans        &rhm LSHFT N4 &kp N5       &kp N6        &lhm LCTRL N0
#define _________________NUMB_5_R3_________________ &kp N0        &kp N1        &kp N2       &kp N3        &trans

#define _________________NUMB_6_L1_________________ &trans _________________NUMB_5_L1_________________
#define _________________NUMB_6_L2_________________ &trans _________________NUMB_5_L2_________________
#define _________________NUMB_6_L3_________________ &trans _________________NUMB_5_L3_________________

#define _________________NUMB_6_R1_________________ _________________NUMB_5_R1_________________ &trans
#define _________________NUMB_6_R2_________________ _________________NUMB_5_R2_________________ &trans
#define _________________NUMB_6_R3_________________ _________________NUMB_5_R3_________________ &trans

#define ____NUMB_2_LT____                           &trans &trans
#define ____NUMB_2_RT____                           &trans &trans

#define __________NUMB_3_LT___________              &trans ____NUMB_2_LT____
#define __________NUMB_3_RT___________              ____NUMB_2_RT____ &trans

// }}}

// {{{ Functional Layer

#define BT(n) BT_SEL n

#define _________________FUNC_5_L1_________________ &trans     &tog WIND &trans     &trans     &trans
#define _________________FUNC_5_L2_________________ &trans     &kp K_PP  &kp K_PREV &kp K_NEXT &trans
#define _________________FUNC_5_L3_________________ &bt BT_CLR &bt BT(0) &bt BT(1)  &bt BT(2)  &bt BT(3)

#define _________________FUNC_5_R1_________________ &trans &trans       &trans       &trans     &trans
#define _________________FUNC_5_R2_________________ &trans &kp K_VOL_DN &kp K_VOL_UP &kp K_MUTE &trans
#define _________________FUNC_5_R3_________________ &trans &kp C_BRI_DN &kp C_BRI_UP &trans     &trans

#define _________________FUNC_6_L1_________________ &trans _________________FUNC_5_L1_________________
#define _________________FUNC_6_L2_________________ &trans _________________FUNC_5_L2_________________
#define _________________FUNC_6_L3_________________ &trans _________________FUNC_5_L3_________________

#define _________________FUNC_6_R1_________________ _________________FUNC_5_R1_________________ &trans
#define _________________FUNC_6_R2_________________ _________________FUNC_5_R2_________________ &trans
#define _________________FUNC_6_R3_________________ _________________FUNC_5_R3_________________ &trans

#define ____FUNC_2_LT____                           &trans &trans
#define ____FUNC_2_RT____                           &trans &trans

#define __________FUNC_3_LT___________              &trans ____FUNC_2_LT____
#define __________FUNC_3_RT___________              ____FUNC_2_RT____ &trans

// }}}
